@import 'bootstrap';

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap);

body {
    font-family: "Josefin Sans", sans-serif !important;
    background: #fdfdfd;
}
@media only screen and (max-width: 575px) {
    .mobile-none{
      display: none !important;
    }
}
.ts-siganos {
    font-size: 1.8rem;
    color: #093854 !important;
    background: #f1f1f100;
    border-radius: 50% !important;
    margin: 5px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 31px !important;
    transition: all 0.5s;
    margin-top:0px !important;
}
.ts-siganos:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
@media only screen and (min-width: 768px){
    .ss-fundo-banner-comercio {
        padding: 0%;
        margin: 0%;
        background: linear-gradient(
            rgba(0,0,0,.3),rgba(0,0,0,.3)
          ), url('https://tecnosoft.com.br/img/savstore/fundo.png');
        background-color: #f9f9f9;
        background-size: cover;
        height: 65vh;
        background-position: center center;
        background-attachment: fixed;

    }
    .logo{
        width: 10% !important;
    }
}
@media only screen and (max-width: 768px){
    .erro {
        font-size: 14px !important;
        color: #edb200;
    }
    .check {
        font-size: 14px !important;
        color: #093854;
        font-weight: bolder;
    }
    .bg-bottom-amarela {
        border-bottom: #edb200 solid 1px;
    }
    .ss-fundo-banner-comercio {
        width: auto;
        padding: 0%;
        margin: 0%;
        background: linear-gradient(
            rgba(0,0,0,.3),rgba(0,0,0,.3)
          ), url('https://tecnosoft.com.br/img/savstore/fundo.png');
        background-color: #f9f9f9;
        background-size: cover;
        height: 53vh;
        background-position: center center;
        background-attachment: fixed;
    }
    .logo{
        width: 37% !important;
    }
    .selo-planos {
        z-index: 3;
        background-color: #17980E;
        /* background-image: repeating-linear-gradient( -45deg, #008265 0px, #008265 20px, #02775e 20px, #02775e 40px ); */
        border-radius: 121px;
        width: 166px;
        height: 168px;
        padding: 42px 18px 0 18px;
        text-align: center;
        transform: rotate(-10deg);
        bottom: 18px;
    }
    .saiba{
        position: absolute;
        bottom: 19%;
        left: 23%;
    }
    .text{
        font-size: 12px !important;
    }
    .titulo{
        font-size: 14px !important;
    }
    .rolagem{
        overflow: auto;
    }
}
.btn-contato{
    transition: all 0.5s;
}
.btn-contato:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
@media only screen and (min-width: 768px){
    .selo-planos {
        z-index: 3;
        background-color: #17980E;
        /* background-image: repeating-linear-gradient( -45deg, #008265 0px, #008265 20px, #02775e 20px, #02775e 40px ); */
        border-radius: 121px;
        width: 200px;
        height: 200px;
        padding: 50px 18px 0 18px;
        text-align: center;
        transform: rotate(-10deg);
        bottom: 18px;
    }
}
.erro {
    font-size: 30px;
    color: #edb200;
}
.check {
    font-size: 30px;
    color: #093854;
    font-weight: bolder;
}
.bg-bottom-amarela {
    border-bottom: #edb200 solid 1px;
}
.card1{
    background: #093854;
    position: absolute !important;
    padding: 7.5%;
    bottom: 86%;
    left: 67%;
    z-index: -1;
}
.card2{
    background: #093854;
    position: absolute !important;
    padding: 7.57%;
    bottom: -5%;
    left: 67%;
    z-index: -1;
}
.fonte2{
    position: absolute;
    bottom: 67%;
    left: 13%;
    font-weight: 600;
    font-size: 22px;
    color: #ffc107;
}
.fonte1 {
    position: absolute;
    position: absolute;
    bottom: 80%;
    left: 26%;
    font-weight: 500;
    font-size: 22px;
    color: #ffc107;
    --webkit-text-stroke: 5px #ffc107;
    -stroke-color: #FFF;
}
