@import 'bootstrap';

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap);

body {
    font-family: 'Josefin Sans', sans-serif;
}

.loading {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* https://loading.io/animation/text/  para criar loading personalizado */
  background: rgba(253, 253, 253, 0.5) url('https://tecnosoft.com.br/img/loading.gif') 50% 50% no-repeat;
}

.div-principal{
    display: flex;
}

.geral {
	min-height:100%;
	position:relative;
	width:800px;
}
/* body{
    background-image: linear-gradient(to right bottom, #dcdb25, #72d15e, #00bb8e, #009ea7, #007e9e, #006d91,  #055d82,#0c4d73, #0b486b, #0a4263, #0a3d5c, #093854);
} */

#circulo {
    position: absolute;
    background: #093854;
    border-radius: 0px 100% 100% 0%;
    width: 37rem;
    height: 100%;
    z-index: -3;
}

#triangulo {
    z-index: -3;
    position: absolute;
    /* width: 100%; */
    min-height: 100%;
    border-top: 85rem solid transparent;
    border-right: 85rem solid #093854;
    border-bottom: rem solid transparent;
    transform: rotate(90deg);
}
#forma2 {
        /* top: 50px; */
        float: left;
        background-size: contain;
        /* background-repeat: no-repeat; */
        /* margin: 30px; */
        width: 55%;
        height: 100%;
        /* shape-margin: 20px; */
        z-index: -3;
        position: absolute;
        background: #093854;
        border-radius: 0px 100% 0% 0%;
    }
#forma3 {
    width: 50%;
    height: 100%;
    border: 31rem solid;
    border-color: transparent transparent  #093854 #085988;
    z-index: -3;
    position: absolute;

}

#retangulo {
    background: #edb200;
    width: 18rem;
    height: 100%;
    position: absolute;
    text-align: right;
    z-index: -3;
    right: 0 !important;
}
#linha1 {
    background: #edb200;
    width: 70%;
    height: 7px;
    position: absolute;
    text-align: right;
    z-index: -3;
    right: 0 !important;
    top: 7%;
}
#linha2 {
    background: #edb200;
    width: 70%;
    height: 7px;
    position: absolute;
    text-align: right;
    z-index: -3;
    right: 0 !important;
    top: 90%;
}
.sub-menu{
    color: #f5f5f5;
    position: relative;
    text-decoration: none;
  }
  .sub-menu:hover{
    color:#d5d7da;
  }
  .sub-menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    color: #b5bfc9;
    margin-right: auto;
    background-color: rgb(233, 233, 233);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .sub-menu:hover:before {
    width: 100%;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .select{
    color: #fff;
    border-bottom:solid 1px #fff;
  }
  .select:hover{
    color: #b5bfc9;
    border-bottom:solid 1px #fff;
  }
  .efeito-linha-azul::before {
    content: "";
    width: 20%;
    height: 2px;
    background: #093854;
    display: block;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    transition: all 1s cubic-bezier(1, 0, 0, 1);
  }
  .efeito-linha-azul::after {
  content: "";
    width: 20%;
    height: 2px;
    background: #093854;
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 50px;
    transition: all 1s cubic-bezier(1, 0, 0, 1);
  }
  .efeito-linha-azul:hover:before, .efeito-linha-azul:hover:after {width: 100%;transition: all 1s cubic-bezier(1, 0, 0, 1);}

  .nivel0{color: #ffffff;}
  .nivel0:hover{color: #d6dee2 !important;}
  .nivel0::after{color: #c2c7ca !important;}
  .indentar{padding-left: 1.2rem !important;}
  .indentar-mobile {
    margin: 10px;
    border-radius: 6px !important;
    border: transparent !important;
    background: #093854;
    margin-right: 10.6rem;
  }

   .selecionado-mobile {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    color: #fff !important;
    text-align: left !important;
    background-color: #093854 !important;
    border: 0 !important;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  }
.corpomenu {padding: 1rem 1.25rem !important;background: #2D5578 !important;border-radius: 0px 0px 10px 10px !important;}
.corpomenu-mobile {background: #2D5578 !important;padding: 5px;padding-left: 14px;border-radius: 0px 0px 5px 5px;}
.botaomenu:focus {  border-color: transparent; box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;}
.indentar2{margin: 10px;border-radius: 6px !important;border: transparent !important;background: #2D5578;}
.abremenu{background: #2D5578 !important;border-radius: 0px 0px 10px 10px !important;
  }


  .selecionado {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    padding: 0.6rem 0.7rem !important;
    font-size: 1rem !important;
    color: #fff !important;
    text-align: left !important;
    border: 0 !important;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  }
  .select-menu:not(.collapsed) {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);
    background: #edb200 !important;
    border-radius: 8px 8px 0px 0px!important;
    color: #093854 !important ;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
  }

  .selecionado-menu {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);
    background: #edb200 !important;
    border-radius: 8px 8px 0px 0px!important;
    color: #093854 !important ;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
  }

  .menu-principal {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%) !important;
    border-radius: 8px 8px 0px 0px!important;
    color: #fff  !important ;
  }

 .menu-active{
    background: #edb200 !important;
    border-radius: 5px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    color:#093854 !important;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}
.menu-active-mobile{
    background: #edb200 !important;
    border-radius: 5px !important;
    color:#093854 !important;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}
.font-site{
    color:#093854;
}
.site-text{
    color: #b6cad7;

  }

.form-contato{
    background:transparent; border:transparent; border-radius:0px; border-bottom:solid 1px #b6cad7; color:#b6cad7 ;
}
.form-contato:focus {
    background:transparent !important;border-radius:0px !important; border-bottom:solid 1px #b6cad7 !important;
    color: #b6cad7;
    background-color: #fff;
    border-top: #86b6fe00 !important;
    border-right: #86b6fe00 !important;
    border-left: #86b6fe00 !important;
    outline: 0 !important ;
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
    color:#b6cad7 ;
}
.form-contato::after {
    background:transparent !important;border-radius:0px !important; border-bottom:solid 1px #b6cad7 !important;
    color: #b6cad7;
    background-color: #fff;
    border-top: #86b6fe00 !important;
    border-right: #86b6fe00 !important;
    border-left: #86b6fe00 !important;
    outline: 0 !important ;
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
    color:#b6cad7 ;
}
.form-contato::before{
    background:transparent !important;border-radius:0px !important; border-bottom:solid 1px #b6cad7 !important;
    color: #b6cad7;
    background-color: #fff;
    border-top: #86b6fe00 !important;
    border-right: #86b6fe00 !important;
    border-left: #86b6fe00 !important;
    outline: 0 !important ;
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
    color:#b6cad7 ;
}
input:-internal-autofill-selected{
    background:transparent !important;border-radius:0px !important; border-bottom:solid 1px #b6cad7 !important;
}
.form-check-input:checked {
    background-color: #ffc107;
    border-color: #ffc107;
}

.bg-card{
    background-image: url('https://tecnosoft.com.br/img/card.svg');
    padding: 0%;
    margin: 0%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end!important;
    z-index: 0;
}
.bg-transparent{
    background:transparent; border:transparent;
}
.btn-contato{
    transition: all 0.5s;
}
.btn-contato:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.ts-siganos {
    font-size: 1.8rem;
    color: #093854 !important;
    background: #f1f1f100;
    border-radius: 50% !important;
    margin: 5px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 31px !important;
    transition: all 0.5s;
    margin-top:0px !important;
}
.ts-siganos:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.giro-img{
    position:relative;
    transition: all .5s;
    border: 2px solid #093854;
    filter: drop-shadow(1px 3px  9px  rgba(0,0,0,.5));

}
.giro-img:hover{
    top:-12px;
    transition: all .5s;
    border: 3px solid #edb200;
    border-radius: 0px;
    filter: drop-shadow(5px 5px 14px rgba(0,0,0,.5));
    transform: scale(1.08);
    border-radius: 1%;
}
@media only screen and (max-width: 768px) {
    .tablet-none{
        display:none;
    }
}
@media only screen and (min-width: 1024px){
    .bg-principal {
        padding: 0%;
        margin: 0%;
        position: relative;
        width: 100%;
        height: 110vh;
        background:#093854 ;
        backdrop-filter: blur(8rem);
    }
    .bg-principal2 {
        padding: 0%;
        margin: 0%;
        position: relative;
        width: 100%;
        height: 109vh;
        background:#093854 ;
        backdrop-filter: blur(8rem);
    }
    .bg-principal3 {
        padding: 0%;
        margin: 0%;
        position: relative;
        width: 100%;
        height: 97vh;
        background:#093854 ;
        backdrop-filter: blur(8rem);
    }
    .div-fundo{
        height: 100%;
    }
    @keyframes anda {
        to {
            background-position: calc(100% + 99%) center;
        }

    }

}



@media only screen and (min-width: 768px) {
    .margin{
        margin-top: 106px !important;
    }
    .menu{
        width: 18% !important;
    }
}
@media only screen and (min-width: 1440px) {
    .menu{
        width: 12% !important;
    }

}
@media only screen and (max-width: 1594px) {
    .icone{
        width:18%;
    }
    .fonte{
        font-size: 14px;
    }
    .margin{
        margin-left: 6%;
    }
    .card1{
        z-index: -1 !important;
        height: 47%;
        width: 1.5%;
        right: 15.3%;
        bottom: 54%;
        background: #edb200 !important;
        border: transparent !important;
    }

    .card2{
        z-index: -1 !important;
        height: 54%;
        width: 1.6%;
        right: 17.3%;
        bottom: 49%;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card3{
        z-index: -1 !important;
        height: 34% !important;
        width: 22% !important;
        right: 0% !important;
        bottom: 54% !important;
        background: #00000000  !important;
        border: transparent  !important;
    }
    .card4{
        z-index: -1  !important;
        height: 24% !important;
        width: 18% !important;
        right: 16% !important;
        bottom: 59% !important;
        background: #00000000  !important;
        border: transparent  !important;
        box-shadow: 0 1rem 3rem rgb(0 0 0 / 8%) !important;
    }
}
@media only screen and (max-width: 1024px) {
    .foto{
        width: 9vw !important;
    }
    .card5{
        z-index: -1 !important;
        height: 50% !important;
        width: 2.2% !important;
        right: 16.9% !important;
        bottom: 41% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .bg-principal3 {
        padding: 0%;
        margin: 0%;
        position: relative;
        width: 100%;
        height: 100% !important;
        background:#093854 ;
        backdrop-filter: blur(8rem);
    }
    .card6{
        z-index: -1 !important;
        height: 57% !important;
        width: 2.3% !important;
        right: 21.3% !important;
        bottom: 38% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card7{
        z-index: -1 !important;
        height: 35% !important;
        width: 26% !important;
        right: 0% !important;
        bottom: 59% !important;
        background: #00000000 !important;
        border: transparent !important;
    }
    .card8{
        z-index: -1 !important;
        height: 38% !important;
        width: 24% !important;
        right: 19% !important;
        bottom: 39% !important;
        background: #00000000 !important;
        border: transparent !important;
        box-shadow: 0 1rem 3rem rgb(0 0 0 / 8%) !important;
    }
    .image{
        width: 100% !important;
    }
    .note-none{
        display:none;
    }
    .bg-principal {
        background-image: url('https://tecnosoft.com.br/img/fundo.svg');
        background-repeat: no-repeat;
        background-position: 0 center;

		animation: anda 2s linear infinite;
        padding: 0%;
        margin: 0%;
        position: relative;
        width: 100%;
        height: 100%;
        background:#093854 ;
        backdrop-filter: blur(8rem);
    }
    .bg-principal2 {
        padding: 0%;
        margin: 0%;
        position: relative;
        width: 100%;
        height: 100% !important;
        background:#093854 ;
        backdrop-filter: blur(8rem);
    }
    .div-fundo{
        height: 100%;
    }
    @keyframes anda {
        to {
            background-position: calc(100% + 99%) center;
        }
    }
    .width{
        width:12%;
    }
    .card1{
        z-index: -1 !important;
        height: 47% !important;
        width: 2.2% !important;
        right: 13.9% !important;
        bottom: 48% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card2{
        z-index: -1 !important;
        height: 43% !important;
        width: 2.3% !important;
        right: 17.3% !important;
        bottom: 44% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card3{
        z-index: -1 !important;
        height: 35% !important;
        width: 24% !important;
        right: 0% !important;
        bottom: 64% !important;
        background: #00000000 !important;
        border: transparent !important;
    }
    .card4{
        z-index: -1 !important;
        height: 30% !important;
        width: 20% !important;
        right: 15% !important;
        bottom: 48% !important;
        background: #00000000 !important;
        border: transparent !important;
        box-shadow: 0 1rem 3rem rgb(0 0 0 / 8%) !important;
    }

}
@media only screen and (max-width: 988px) {
    .foto{
        width: 9vw !important;
    }
    .icone2{
        width:11% !important;
    }
    .card1{
        z-index: -1 !important;
        height: 40% !important;
        width: 2.2% !important;
        right: 21.9% !important;
        bottom: 50% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card2{
        z-index: -1 !important;
        height: 39% !important;
        width: 2.3% !important;
        right: 25.3% !important;
        bottom: 48% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card3{
        z-index: -1 !important;
        height: 29% !important;
        width: 35% !important;
        right: 0% !important;
        bottom: 64% !important;
        background: #00000000 !important;
        border: transparent !important;
    }
    .card4{
        z-index: -1 !important;
        height: 23% !important;
        width: 31% !important;
        right: 21% !important;
        bottom: 48% !important;
        background: #00000000 !important;
        border: transparent !important;
        box-shadow: 0 1rem 3rem rgb(0 0 0 / 8%) !important;
    }
    .card5{
        z-index: -1 !important;
        height: 35% !important;
        width: 3.2% !important;
        right: 16.9% !important;
        bottom: 50% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card6{
        z-index: -1 !important;
        height: 33% !important;
        width: 3.3% !important;
        right: 21.3% !important;
        bottom: 44% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card7{
        z-index: -1 !important;
        height: 24% !important;
        width: 31% !important;
        right: -3% !important;
        bottom: 64% !important;
        background: #00000000 !important;
        border: transparent !important;
    }
    .card8{
        z-index: -1 !important;
        height: 27% !important;
        width: 35% !important;
        right: 11% !important;
        bottom: 44% !important;
        background: #00000000 !important;
        border: transparent !important;
        box-shadow: 0 1rem 3rem rgb(0 0 0 / 8%) !important;
    }
}

.obj {
    height: 43%;
    width: 30%;
    border-radius: 50%;
}

.bg {
        background-repeat: no-repeat;
        background-position: 0 center;
        filter: blur(3.8rem);
        animation: moveToLeft 6s linear infinite;
        /* z-index: -3; */
        position: absolute !important;
    }

@keyframes moveToLeft {
    0% {
           transform: translateX(200%);
    }

    25% {
        transform: translateX(100%);
        background: #1e4bec12;
    }
    50% {
        transform: translateY(100%) translateX(200%);
        background: #4e2d9f17;
    }
    75% {
        transform: translateX(200%) translateY(0%);
        background: #4f93ff2e;
    }
    100% {
        transform: translateY(100%);
        background: #2c479238;
    }
}
.bg2 {
        background-repeat: no-repeat;
        background-position: 0 center;
        filter: blur(3.8rem);
        animation: moveToLeft2 10s linear infinite;
        /* z-index: -5; */
        position: absolute !important;
    }

@keyframes moveToLeft2 {
    0% {
        transform: translatex(200%);
    }

    25% {
        transform: translateX(0%);
        background: #1e90ec3d;
    }
    50% {
        transform: translateY(100%) translateX(200%);
        background: #1d5dd626;
    }
    75% {
        transform: translateX(0px) translateY(100%);
        background: #4fa2ff2e;
    }
    100% {
        transform: translateY(100%);
        background: #2c5f9200;
    }
}
.bg3 {
        background-repeat: no-repeat;
        background-position: 0 center;
        filter: blur(3.8rem);
        animation: moveToLeft3 8s linear infinite;
        /* z-index: -4; */
        position: absolute !important;
    }

@keyframes moveToLeft3 {
    0% {
        transform: translateY(100%) translateX(200%);
    }

    25% {
        transform: translateX(100%);
        background: #1eb8ec12;
    }
    50% {
        transform: translateY(0%) translateX(200%);
        background: #2d9f9517;
    }
    75% {
        transform: translateX(0px) translateY(100%);
        background: #4ff1ff2e;
    }
    100% {
        transform: translateX(100%);
        background: #2c5f924a;
    }
}
.bg4 {
        background-repeat: no-repeat;
        background-position: 0 center;
        filter: blur(3.8rem);
        animation: moveToLeft4 9s linear infinite;
        /* z-index: -3; */
        position: absolute !important;
    }

@keyframes moveToLeft4 {
    0% {
        transform: translateY(93%) translateX(114%);
    }

    25% {
        transform: translateX(200%);
        background: #1eb8ec12;
    }
    50% {
        transform: translateY(94%) translateX(200%);
        background: #2d9f9517;
    }
    75% {
        transform: translateX(0px) translateY(100%);
        background: #4ff1ff2e;
    }
    100% {
        transform: translateX(100%);
        background: #2c5f924a;
    }
}
.bg5 {
        background-repeat: no-repeat;
        background-position: 0 center;
        filter: blur(3.8rem);
        animation: moveToLeft5 6s linear infinite;
        /* z-index: -10; */
        position: absolute !important;
    }

@keyframes moveToLeft5 {
    0% {
        transform: translateY(0%) translateX(200%);
    }

    25% {
        transform: translateX(200%) translateY(100%);
        background: #1eb8ec12;
    }
    50% {
        transform: translateY(0%) translateX(0%);
        background: #2d9f9517;
    }
    75% {
        transform: translateX(0px) translateY(100%);
        background: #4ff1ff2e;
    }
    100% {
        transform: translateX(100%) translateY(100%);
        background: #2c5f924a;
    }
}

@media only screen and (max-width: 575px) {
    .foto{
        width: 14vw !important;
    }
    .image{
        width: 90% !important;
        margin-top:5%;
    }
    .margin{
        margin-top: 24px;
    }
    .mobile-none{
      display: none !important;
    }
    .card1{
        z-index: -1 !important;
        height: 22% !important;
        width: 4.2% !important;
        right: 40.9% !important;
        bottom: 45% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card2{
        z-index: -1 !important;
        height: 21% !important;
        width: 4.3% !important;
        right: 48.3% !important;
        bottom: 44% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card3{
        z-index: -1 !important;
        height: 13% !important;
        width: 59% !important;
        right: -3% !important;
        bottom: 59% !important;
        background: #00000000 !important;
        border: transparent !important;
    }
    .card4{
        z-index: -1 !important;
        height: 15% !important;
        width: 62% !important;
        right: 37% !important;
        bottom: 48% !important;
        background: #00000000 !important;
        border: transparent !important;
        box-shadow: 0 1rem 3rem rgb(0 0 0 / 8%) !important;
    }
    .center{
        text-align: center;
    }
    .card5{
        z-index: -1 !important;
        height: 29% !important;
        width: 4.2% !important;
        right: 40.9% !important;
        bottom: 24% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card6{
        z-index: -1 !important;
        height: 31% !important;
        width: 4.3% !important;
        right: 48.3% !important;
        bottom: 23% !important;
        background: #edb200 !important;
        border: transparent !important;
    }
    .card7{
        z-index: -1 !important;
        height: 13% !important;
        width: 59% !important;
        right: -3% !important;
        bottom: 40% !important;
        background: #00000000 !important;
        border: transparent !important;
    }
    .card8{
        z-index: -1 !important;
        height: 15% !important;
        width: 62% !important;
        right: 37% !important;
        bottom: 21% !important;
        background: #00000000 !important;
        border: transparent !important;
        box-shadow: 0 1rem 3rem rgb(0 0 0 / 8%) !important;
    }
}
.seta-aberta > i{
    transition: all 0.8s;
    color: #edb200;
}
.seta-aberta:not(.collapsed) > i {
    transform: rotate(-180deg);
    transform-Origin: 50% 53%;
    transition: all 0.8s;
    color: #093854 !important;

}
.seta-aberta > span{
    transition: all 0.8s;
    color: #edb200;
}
.seta-aberta:not(.collapsed) > span {
    transition: all 0.8s;
    color: #093854  !important;

}
@media only screen and (min-width: 1440px){
    .bg-principal {
        padding: 0%;
        margin: 0%;
        position: relative;
        width: 100%;
        height: 89vh;
        background:#093854 ;
        backdrop-filter: blur(8rem);
    }
}
/* ----------------------------- BLOG ------------------------------- */
.btn-blog{
    transition: all 0.5s;
}
.btn-blog:hover{
    transform: scale(1.08);
    transition: all 0.5s;
}
.btn-pesquisa{
    border-color:#093854 !important; color:#093854 !important;

}
.btn-pesquisa:hover{
    border-color:#093854 !important; color:#ffffff !important;
    background:#093854
}
.redes-sociais {
    font-size: 1.5rem;
    color: #ffffff !important;
    border-radius: 50% !important;
    margin: 1px;
}
.redes-mobile {
    font-size: 1.1rem;
    color: #ffffff !important;
    border-radius: 50% !important;
    margin: 0%;
}
.blog-borda{
    border-radius: 6px 6px 0px 0px !important;
}
.btn-pink{border-color: #dc356b !important;background-color: #dc356b !important;color:#fff !important;}
.btn-pink:hover{border-color: #ba2f5b !important;background-color: #ba2f5b !important;color:#fff !important;}
/* ----------------------------- FIM  BLOG ------------------------------- */

